/* Estilos para la información del producto */
#product-name {
  /* Estilos para los comentarios */
  .comment {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Color de fondo personalizable */
  }
  
  .comment p {
    margin: 5px 0;
  }
  
  .comment p:first-child {
    font-weight: bold;
  }
  
  font-family: 'Verdana', serif !important;
  margin: 20px;
  display: flex;
  justify-content: center;
}

#product-price,
#product-description,
#product-images {
  font-size: 18px;
}

.texto-negrita {
  font-weight: bold;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Estilos para los comentarios */
.comment {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  /* Color de fondo personalizable */
}

.comment p {
  margin: 5px 0;
}

.comment p:first-child {
  font-weight: bold;
}