/* Estilos para la información del producto */

#product-name {
  margin: 30px;
  display: flex;
  justify-content: center;
}
h3{
 font-size: 1.3rem;
 font-weight: bold;
}
#product-price{
 color: #0056b3;

}

#product-description,
#product-images,
#comentariosAnteriores {
  font-size: 18px;
}
#comentariosAnteriores {
  margin-top: 50px;
}
.texto-negrita {
  font-weight: bold;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Estilos para los comentarios */

h3::first-letter {
  text-transform: uppercase;
}


/* Estilos del formulario */
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos de los comentarios */
.rating {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin: 0;
}

.rating li {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.rating li:last-child {
  margin-right: 0;
}

/* Estilos de la alerta */
.alert {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  display: none;
}

/* Estilos de la imagen de perfil */
.rounded-circle {
  border-radius: 50%;
}

/* Estilos del botón de enviar */
#enviarComentario {
  background-color: orange;
  color: black;
  border: none;
  padding: 10px 20px;
 }
 
/* Estrellas blancas por defecto */

.fa-star {
  color: white;
  font-size: 24px;
  cursor: pointer;
  text-shadow: 2px 2px 2px black;
}


/* Estrellas amarillas cuando se marcan */
.fa-star.checked {
  color: orange;
}
